{% extends "layout.html" %}
{% from "macros/news.html" import render_news %}
{% block title %}{{ this.title }}{% endblock %}
{% block additional_css %}
<link rel="stylesheet" href="{{ '/static/css/featurette.css'|url }}">
<link rel="stylesheet" href="{{ '/static/css/section-styling.css'|url }}">
<link rel="stylesheet" href="{{ '/static/css/fullcalendar.css'|url }}">
<link rel="stylesheet" href="{{ '/static/css/agenda.css'|url }}">
{% endblock %}

{% set carousel_images = [
    ['http://placehold.it/1800x600', 'Caption test1'],
    ['http://placehold.it/1800x600', 'Caption test2']
] %}

{% block body %}
<div class="container carousel-smaller">
  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">  
      {% for i in range(carousel_images|length) %}
      <li data-target="#carousel-example-generic" data-slide-to="{{ i }}" {% if i == 0 %}class="active"{% endif %}></li>
      {% endfor %}
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      {% for href, caption in carousel_images %}
      <div class="item {% if loop.index == 1 %}active{% endif %}">
        <img src="{{ href }}" alt="...">
        <div class="carousel-caption">
          {{ caption }}
        </div>
      </div>
      {% endfor %}
    </div>
    </div>
</div>

<div class="container-fluid site-intro">
	<div class="page-header"><h1>About NECSTLab</h1></div>
	<p>The NECST Lab (Novel, Emerging Computing System Technologies Laboratory) comprises a number of different research lines on advanced topics in computing systems, ranging from architectural characteristics, to hardware-software codesign methodologies, to security and dependability issues of complex system architectures (scaling from mobile devices to large virtualized datacenters). Furthermore, the laboratory pursues its “historical” tradition of research in the definition of methodologies and techniques regarding testability, auto-diagnosis and fault tolerance both for hardware architectures and hardware-software systems.</p>
	<!-- <hr class="featurette-divider"> -->
</div>

<div class="container-fluid additional-sections">
  <div class="row">
    <div class="col-md-4 col-sm-12">
      <div class="page-header"><h2>NEWS</h2></div>
      {% for news in bag('news').news %}
      {% if loop.index <= 5 %}
        {{ render_news(news.date, news.text) }}
      {% endif %}
      {% endfor %}
    </div>
    <div class="col-md-4 col-sm-12">
      <div class="page-header"><h2>RESEARCH</h2></div>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi est, nobis obcaecati corrupti adipisci voluptas quae sint eligendi quo qui iusto optio. Tenetur ut nostrum ipsa natus accusantium et fugit.</p>
    </div>
    <div class="col-md-4 col-sm-12">
      <div class="page-header"><h2>UPCOMING EVENTS</h2></div>
      <div class="calendar-container" id="agenda">
        <!-- <iframe src="https://calendar.google.com/calendar/embed?showTitle=0&amp;showNav=0&amp;showDate=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;mode=AGENDA&amp;height=200&amp;wkst=2&amp;bgcolor=%23ffffff&amp;src=ir995hjijtv88ktfcfaf0s12gk%40group.calendar.google.com&amp;color=%238D6F47&amp;ctz=Europe%2FRome" style="border:solid 1px #777" width="400" height="200" frameborder="0" scrolling="no"></iframe> -->
      </div>
      <p class="calendar-link"><a href="{{ site.get('calendar')|url }}">See full calendar</a></p>
    </div>
  </div>
</div>

</div>
{% endblock %}

{% block additional_js %}
<script src="{{ '/static/js/moment.min.js'|url }}"></script>
<script src="{{ '/static/js/fullcalendar.min.js'|url }}"></script>
<script src="{{ '/static/js/gcal.js'|url }}"></script>
<script src="{{ '/static/js/agenda_init.js'|url }}"></script>
{% endblock %}
