{% extends "layout.html" %}
{% from "macros/news.html" import render_news %}
{% block title %}{{ this.title }}{% endblock %}
{% block additional_css %}
<!-- <link rel="stylesheet" href="{{ '/static/css/featurette.css'|url }}">
<link rel="stylesheet" href="{{ '/static/css/section-styling.css'|url }}">
<link rel="stylesheet" href="{{ '/static/css/fullcalendar.css'|url }}">
<link rel="stylesheet" href="{{ '/static/css/agenda.css'|url }}"> -->
{% endblock %}
</head>
<body>

{% block body %}    
<div class="main-container">
  <section class="cover image-slider slider-all-controls controls-inside landing-slider parallax">
    <ul class="slides">
        {% for item in bag('landing_carousel').carousel %}
        <li class="overlay image-bg">
            <div class="background-image-holder">
                <img alt="image" class="background-image" src="{{ item.image|url }}">
            </div>
            {% if item.caption or item.title or item.subtitle or item.link %}
            <div class="container v-align-transform">
                <div class="row">
                    <div class="col-md-6 col-sm-8">
                        {% if item.title %}<h1 class="mb40 mb-xs-16 large">{{ item.title }}</h1>{% endif %}
                        {% if item.subtitle %}<h6 class="uppercase mb16">{{ item.subtitle }}</h6>{% endif %}
                        {% if item.caption %}<p class="lead mb40">{{ item.caption }}</p>{% endif %}
                        {% if item.link %}<a class="btn btn-lg" href="{{ item.link if item.external_link else item.link|url }}">{{ item.link_name }}</a>{% endif %}
                    </div>
                </div>
            </div>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
  </section>
  <section>
      <div class="container">
          <div class="row">
              <div class="col-sm-10 col-sm-offset-1">
                  <h3 class="uppercase color-primary mb40 mb-xs-24 text-center">NECSTLab</h3>
                  <p class="lead text-justify">
                     The NECST Lab (Novel, Emerging Computing System Technologies Laboratory), <a href="http://sagroup.ws.dei.polimi.it/" target="_blank">The System Architecture Group</a> lab, gathers several different research themes, from the previously existing labs MICROLab and VPLab.
                     It comprises a number of different research lines on advanced topics in computing systems, ranging from architectural characteristics, to hardware-software codesign methodologies, to security and dependability issues of complex system architectures (scaling from mobile devices to large virtualized datacenters). Furthermore, the laboratory pursues its “historical” tradition of research in the definition of methodologies and techniques regarding testability, auto-diagnosis and fault tolerance both for hardware architectures and hardware-software systems.
                  </p>
              </div>
          </div>
          
      </div>
      
  </section><section class="bg-dark">
      <div class="container">
          <div class="row">
              <div class="col-sm-4">
                  <h2 class="number">NEWS</h2>
                  {% for news in bag('news').news %}
                  {% if loop.index <= 5 %}
                    {{ render_news(news.date, news.text) }}
                  {% endif %}
                  {% endfor %}
              </div>
              <div class="col-sm-4">
                  <h2 class="number">FIND US</h2>
                  <p>
                      <img src="{{ 'static/img/landing/map.png'|url }}">
                  </p>
              </div>
              <div class="col-sm-4">
                  <h2>UPCOMING EVENTS</h2>
                  <div class="calendar-container" id="agenda"></div>
                  <p class="calendar-link"><a href="{{ site.get('calendar')|url }}">See full calendar</a></p>
              </div>
          </div>
          
      </div>
      
  </section>
</div>
{% endblock %}

{% block additional_js %}
<script src="{{ '/static/js/moment.min.js'|url }}"></script>
<script src="{{ '/static/js/fullcalendar.min.js'|url }}"></script>
<script src="{{ '/static/js/gcal.js'|url }}"></script>
<script src="{{ '/static/js/agenda_init.js'|url }}"></script>
{% endblock %}
</body></html>