<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="{{ '/static/css/bootstrap.min.css'|url }}">
<link rel="stylesheet" href="{{ '/static/css/bootstrap-theme.min.css'|url }}">
<link rel="stylesheet" href="{{ '/static/css/style.css'|url }}">
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
{% block additional_css %}
{% endblock %}
<title>{% block title %}Welcome{% endblock %} — NECSTLab</title>
</head>
<body>
  <nav class="navbar navbar-default">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">
          <img alt="NECSTLab Logo" src="{{ '/static/img/logonew.png'|url }}" width=100></img>
          <!-- <img alt="NECSTLab Logo" src="http://placehold.it/150x75?text=logo"></img> -->
        </a>
      </div>

      {% set menu_sections = [
        ('Research Lines', '/lines', False),
        ('Topics', '/topics', False),
        ('Events', '/events', False),
        ('People', '/people', False),
        ('Calendar', '/calendar', False),
        ('Guide', 'http://guide.necst.it/en/latest/#_=_', True),
      ] %}

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          {% for name, href, ext in menu_sections %}
          <li><a href="{{ href|url if not ext else href }}">{{ name }}</a></li>
          {% endfor %}
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="https://www.facebook.com/groups/52052425507/"><i class="fa fa-facebook-square"></i></a></li>
          <li><a href="http://www.twitter.com/necstlaboratory"><i class="fa fa-twitter-square"></i></a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

  {% block body %}
  {% endblock %}
  
  {% block footer %}
  <div class="footer pull-right">
    &copy; Copyright 2016 by NECSTLab
  </div>
  {% endblock %}

  <script src="{{ '/static/js/jquery-1.12.4.min.js'|url }}"></script>
  <script src="{{ '/static/js/bootstrap.min.js'|url }}"></script>
  {% block additional_js %}
  {% endblock %}
</body>
</html>