{% extends "layout.html" %}
{% from "macros/small_biocard.html" import render_biocard_small %}
{% from "macros/attachment.html" import render_attachment %}
{% block title %}{{ this.title }}{% endblock %}
{% block additional_css %}
<link rel="stylesheet" href="{{ '/static/css/featurette.css'|url }}">
<link rel="stylesheet" href="{{ '/static/css/contact_card_small.css'|url }}">
{% endblock %}

{% block body %}
{% set people = site.get('/people').children.filter(F.affiliation.contains(this.affiliation_tag)) %}

{% set carousel_data = bag(this.title|lower).carousel %}
<div class="main-container">
  {% set carousel_data = bag(this.title|lower).carousel %}
  {% if carousel_data|length > 0 %}
  <section class="cover fullscreen image-slider slider-all-controls controls-inside parallax">
    <ul class="slides">
        {% for data in carousel_data %}
        <li class="overlay image-bg">
            <div class="background-image-holder">
                <img alt="image" class="background-image" src="{{ data.image|url }}">
            </div>
            {% if data.caption or data.title %}
            <div class="container v-align-transform">
                <div class="row">
                    <div class="col-md-6 col-sm-8">
                        {% if data.title %}<h1 class="mb40 mb-xs-16 large">{{ data.title }}</h1>{% endif %}
                        {% if data.caption %}<p class="lead mb40">{{ data.caption }}</p>{% endif %}
                    </div>
                </div>
            </div>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
  </section>
  {% endif %}

  {% if this.show_subnav %}
  <div class="nav-container">
    <nav>
      <div class="nav-bar nav-bar-center">
        <div class="module">
          <ul class="menu">
            {% if this.project_title or this.project_desc %}<li><a href="#description">About</a></li>{% endif %}
            {% if bag(this.title|lower).features %}<li><a href="#features">Features</a></li>{% endif %}
            {% if people %}<li><a href="#people">People</a></li>{% endif %}
            {% if this.attachments %}<li><a href="#material">Downloads</a></li>{% endif %}
            {% for item in bag(this.title|lower).additional_sections %}
            <li><a href="{{item.url if item.external_url else item.url|url}}">{{ item.text }}</a></li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </nav>
  </div>
  {% endif %}

  {% if this.project_title or this.project_desc %}
  <div class="container" id="description">
    {% if this.project_title %}
    <div class="page-header"><h1>{{ this.project_title }}</h1></div>
    {% endif %}
    {% if this.project_desc %}
    <p>{{ this.project_desc }}</p>
    {% endif %}
    <hr class="featurette-divider">
  </div>
  {% endif %}

  {% set feature_data = bag(this.title|lower).features %}
  {% if feature_data %}
    {% for feat in feature_data %}
    {% if loop.index % 2 != 0 %}
    <section class="image-square right">
        <div class="col-md-6 image">
            <div class="background-image-holder">
                <img alt="image" class="background-image" src="{{ feat.image|url }}">
            </div>
        </div>
        <div class="col-md-6 content">
            <h2>{{ feat.title }}</h2>
            <h3>{{ feat.subtitle }}</h3>
            <p class="mb0">{{ feat.text }}</p>
        </div>
    </section>
    {% else %}
    <section class="image-square left">
        <div class="col-md-6 image">
            <div class="background-image-holder">
                <img alt="image" class="background-image" src="{{ feat.image|url }}">
            </div>
        </div>
        <div class="col-md-6 col-md-offset-1 content">
            <h2>{{ feat.title }}</h2>
            <h3>{{ feat.subtitle }}</h3>
            <p class="mb0">{{ feat.text }}</p>
        </div>
    </section>
    {% endif %}
    {% endfor %}
  {% endif %}

  {% if this.attachments %}
  <div class="container" id="material">
    <div class="page-header"><h1>Material</h1></div>
      <ul class="attachment-list">
        {% for a in this.attachments %}
        {{ render_attachment(a) }}
        {% endfor %}
      </ul>
    <hr class="featurette-divider">
  </div>
  {% endif %}

  {% if people %}
  <div class="container" id="people">
    <div class="page-header"><h1>People</h1></div>
    <div class="row">
      {% for p in people %}
      {{ render_biocard_small(p) }}
      {% endfor %}
    </div>
    <hr class="featurette-divider">
  </div>
  {% endif %}
</div>

{% endblock %}
