{% extends "layout.html" %}
{% block title %}{{ this.title }}{% endblock %}
{% block additional_css %}
<link rel="stylesheet" href="{{ '/static/css/research-lines.css'|url }}">
{% endblock %}
{% block body %}
<div class="main-container topics-list">
  <div class="row">
    {% for topic in this.children %}
    <div class="col-md-4 col-sm-12">
      <a href="{{ topic|url }}">
        <div class="topic">
          <div class="img-holder">
            <img class="img-circle" src="{{ topic.logo|url }}">
          </div>
          <h2>{{ topic.parent_title }}</h2>
          <p>{{ topic.parent_description }}</p>
        </div>
      </a>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
