{% extends "layout.html" %}
{% block title %}{{ this.title }}{% endblock %}
{% block additional_css %}
<!-- <link rel="stylesheet" href="{{ '/static/css/featurette.css'|url }}"> -->
{% endblock %}
{% block body %}
<div class="main-container topics-list">
  <div class="row">
    {% for topic in this.children %}
    <a href="{{ topic|url }}">
      <div class="col-md-4 col-sm-12">
        <div class="topic">
          <img class="img-circle" src="{{ topic.logo|url }}">
          <h2>{{ topic.parent_title }}</h2>
          <p>{{ topic.parent_description }}</p>
        </div>
      </div>
    </a>
    {% endfor %}
  </div>
</div>
{% endblock %}
